/* Import Google Fonts: Montserrat, Open Sans, Comfortaa */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Comfortaa:wght@300;400;500;600;700&display=swap");
/* Import Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* Import Area-Specific Custom Styles */
/* @import url(layout.css); */
@import url(about.css);
@import url(body.css);
@import url(contact.css);
@import url(footer.css);
@import url(header.css);
@import url(navbar.css);
@import url(projects.css);
@import url(variables.css);
/* Document-Wide Custom Styles */

.dark-mode {
  background-color: var(--bgColor-dark);
  color: var(--fontColor-dark);
}

.shade-mode {
  background-color: var(--bgColor-shade);
  color: var(--fontColor-shade);
}

.light-mode {
  background-color: var(--bgColor-light);
  color: var(--fontColor-light);
}
